Appendix B/WebSite15/App_WebReferences/localhost/ECommerceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddItemResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateItemResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveItemResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCartAmountResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlaceOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="AddItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="AddItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateItemSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="UpdateItemSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveItemSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveItem" />
  </wsdl:message>
  <wsdl:message name="RemoveItemSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartSoapIn">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="GetCartSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartAmount" />
  </wsdl:message>
  <wsdl:message name="GetCartAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartAmountResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ECommerceServiceSoap">
    <wsdl:operation name="GetProducts">
      <wsdl:input message="tns:GetProductsSoapIn" />
      <wsdl:output message="tns:GetProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <wsdl:input message="tns:AddItemSoapIn" />
      <wsdl:output message="tns:AddItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input message="tns:UpdateItemSoapIn" />
      <wsdl:output message="tns:UpdateItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <wsdl:input message="tns:RemoveItemSoapIn" />
      <wsdl:output message="tns:RemoveItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input message="tns:GetCartSoapIn" />
      <wsdl:output message="tns:GetCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCartAmount">
      <wsdl:input message="tns:GetCartAmountSoapIn" />
      <wsdl:output message="tns:GetCartAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderSoapIn" />
      <wsdl:output message="tns:PlaceOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECommerceServiceSoap" type="tns:ECommerceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://tempuri.org/UpdateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <soap:operation soapAction="http://tempuri.org/RemoveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartAmount">
      <soap:operation soapAction="http://tempuri.org/GetCartAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://tempuri.org/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ECommerceServiceSoap12" type="tns:ECommerceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap12:operation soapAction="http://tempuri.org/AddItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap12:operation soapAction="http://tempuri.org/UpdateItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <soap12:operation soapAction="http://tempuri.org/RemoveItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap12:operation soapAction="http://tempuri.org/GetCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartAmount">
      <soap12:operation soapAction="http://tempuri.org/GetCartAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECommerceService">
    <wsdl:port name="ECommerceServiceSoap" binding="tns:ECommerceServiceSoap">
      <soap:address location="http://localhost:1447/WebSite14/ECommerceService.asmx" />
    </wsdl:port>
    <wsdl:port name="ECommerceServiceSoap12" binding="tns:ECommerceServiceSoap12">
      <soap12:address location="http://localhost:1447/WebSite14/ECommerceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>