Chapter 05/WindowsApplication26/sample.xsd

<?xml version="1.0"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="employees"><xs:complexType><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="employee"><xs:complexType><xs:sequence><xs:element name="firstname"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="3" /><xs:maxLength value="255" /></xs:restriction></xs:simpleType></xs:element><xs:element name="lastname"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="3" /><xs:maxLength value="255" /></xs:restriction></xs:simpleType></xs:element><xs:element name="homephone"><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="20" /></xs:restriction></xs:simpleType></xs:element><xs:element name="notes"><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="500" /></xs:restriction></xs:simpleType></xs:element></xs:sequence><xs:attribute name="employeeid" type="xs:int" use="required" /></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>